.content{
  text-align: center;
  
}
label{

  font-size: 30px;
  border-bottom: 5px solid whitesmoke;
}
.wrp{
  width: auto;
  

}
.c{
  min-height:80px;
  width: 800px;
  margin: auto;
  background-color: rgba(16, 46, 50, 0.96);
  color: azure;
  border-bottom: 5px solid whitesmoke;

}
.card{
  margin-top: 200px;

}